.tarjeta.centro{
  background:
    linear-gradient(to bottom, rgba(0,0,0,.45), rgba(0,0,0,.70)),
    url("../../IMG/sucursales/FAV1.png");
  border-top:5px solid #f012be;
}
.tarjeta.norte{
  background:
    linear-gradient(to bottom, rgba(0,0,0,.45), rgba(0,0,0,.70)),
    url("../../IMG/sucursales/FAV2.png");
  border-top:5px solid #1e94f5;
}
.tarjeta.sur{
  background:
    linear-gradient(to bottom, rgba(0,0,0,.45), rgba(0,0,0,.70)),
    url("../../IMG/sucursales/FAV3.png");
  border-top:5px solid #f012be;
}
.tarjeta.valle{
  background:
    linear-gradient(to bottom, rgba(0,0,0,.45), rgba(0,0,0,.70)),
    url("../../IMG/sucursales/FAV4.png");
  border-top:5px solid #1e94f5;
}
